asciiart
chucknorris
defillibrators
stock_losses
network_cabling
conway
horse_racing
super_computer
temperatures
dwarfs_and_giants
mimetypes
roller_coaster
telephone
cgx_formatter
tan_network
tan_network_haskell
*.o
*.hi
*.sw[ponm]
callgrind.*
